In [1]:
import sys
import os

root_dir = os.chdir(os.path.abspath(os.path.join(os.getcwd(),'..')))
if root_dir not in sys.path:
    sys.path.append(root_dir)

In [2]:
from db.conexion_db import crear_conexion, cerrar_conexion
from db.querys_db import insert_data, consult_data, procedure_data, update_data
from conexion_sap import connect_to_sap
import datetime
import pandas as pd
import numpy as np
import json

In [3]:
from google.oauth2.credentials import Credentials
from googleapiclient.discovery import build
from google.oauth2 import service_account

In [4]:
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
KEY = r'C:\Users\CGM\Projects\Actualizar_OC\config\key_cloud.json'
# Escribe aquÃ­ el ID de tu documento:
SPREADSHEET_ID = '1McMSLQAGpRq12vME_3CBuyKny64B31-0IeJuy6Jm_fQ'

creds = None
creds = service_account.Credentials.from_service_account_file(KEY, scopes=SCOPES)

service = build('sheets', 'v4', credentials=creds)
sheet = service.spreadsheets()

# Llamada a la api
result = sheet.values().get(spreadsheetId=SPREADSHEET_ID, range='Precios!A:H').execute()
# Extraemos values del resultado
values = result.get('values',[])

In [5]:
cotizador_ipesa = pd.DataFrame(values)

In [6]:
cotizador_ipesa.columns = cotizador_ipesa.iloc[1]
cotizador_ipesa = cotizador_ipesa[2:].reset_index(drop=True)

In [33]:
consulta = 'select identificador,material,reserva_centro,orden,ctd_dif from tbl_abastecimiento where estado_compra = "Por_pedir" and ate_accion="MERCADERIA" and ctd_dif > 0'

In [ ]:
con = crear_conexion()
materialesxcomprar = consult_data(con, consulta)
cerrar_conexion(con)

Conexion Exitosa

In [36]:
df_materialesxcomprar = pd.DataFrame(materialesxcomprar)

In [39]:
consulta_hist = 'select * from tbl_comprasR3S4_hist where version_sap="S4" '

In [40]:
con = crear_conexion()
historico_materiales = consult_data(con, consulta_hist)
cerrar_conexion(con)

Conexion Exitosa
conexion cerrada

In [42]:
df_historico_materiales = pd.DataFrame(historico_materiales)

In [20]:
data_prueba = pd.read_excel('data_prueba.xlsx')

In [21]:
grupos = data_prueba.groupby(['centro','cod_proveedor'])
for (centro,proveedor), pedidos_grupo in grupos:
    print(centro,proveedor)
    display(pedidos_grupo)
    print('-------------------')

C154 1200000011

,material,precio,cantidad,UND,cod_proveedor,Proveedor,Comprador,centro
81,JDRE61631,92.93,1,UN,1200000011,IPESA,Cesar Toro,C154
82,JDRE61645,66.05,1,UN,1200000011,IPESA,Cesar Toro,C154
83,JDRE54847,95.93,1,UN,1200000011,IPESA,Cesar Toro,C154
84,JDER372511,591.46,1,UN,1200000011,IPESA,Cesar Toro,C154
85,JDSJ290320,1657.37,1,UN,1200000011,IPESA,Cesar Toro,C154

-------------------
C200 1200000011

,material,precio,cantidad,UND,cod_proveedor,Proveedor,Comprador,centro
0,JDTY26813_,139.05,20,GLN,1200000011,IPESA,Cesar Toro,C200
1,JDER263096,78.03,4,UN,1200000011,IPESA,Cesar Toro,C200
2,JDER263097,55.39,4,UN,1200000011,IPESA,Cesar Toro,C200
3,JD45M7063,11.55,4,UN,1200000011,IPESA,Cesar Toro,C200
4,JDAL205022,40.61,4,UN,1200000011,IPESA,Cesar Toro,C200
...,...,...,...,...,...,...,...,...
76,JDR113910,18.13,1,UN,1200000011,IPESA,Cesar Toro,C200
77,JDRE61719,27.20,1,UN,1200000011,IPESA,Cesar Toro,C200
78,JDSJ38860,9.53,1,UN,1200000011,IPESA,Cesar Toro,C200
79,JDJD9258,92.22,1,UN,1200000011,IPESA,Cesar Toro,C200
80,JDJD9344,24.18,1,UN,1200000011,IPESA,Cesar Toro,C200

-------------------

In [ ]:
def get_db_config(path="config/credenciales_sap.json"):
    """Carga la configuraciÃ³n de la base de datos desde un archivo JSON."""
    with open(path, "r") as config_file:
        return json.load(config_file)
        
config = get_db_config()    
connection_name = config["sap_connection_name"]
user_sap = config["sap_user"]
pwa_sap = config["sap_password"]

session = connect_to_sap(connection_name=connection_name,user_sap=user_sap,pwa_sap=pwa_sap)
if session:
    grupos = data_prueba.groupby(['centro','cod_proveedor'])
    for (centro,proveedor), pedidos_grupo in grupos:
        session.findById("wnd[0]").maximize()
        session.findById("wnd[0]/tbar[0]/okcd").text = "ME21N"
        session.findById("wnd[0]").sendVKey(0)
        session.findById("wnd[0]/usr/subSUB0:SAPLMEGUI:0013/subSUB0:SAPLMEGUI:0030/subSUB1:SAPLMEGUI:1105/cmbMEPO_TOPLINE-BSART").key = "ZNAC"
        session.findById("wnd[0]/usr/subSUB0:SAPLMEGUI:0013/subSUB0:SAPLMEGUI:0030/subSUB1:SAPLMEGUI:1105/ctxtMEPO_TOPLINE-SUPERFIELD").text = proveedor